body {
    margin: 0;
}

/*__________________HEADRER __________________*/

.header {
    height: 150px;
    line-height: 150px;
    margin: 10px;
}

.header__logo {
    height: 100%; 
    float: left;
}

.header__title {
    font-size: 100px;
    font-family: 'Righteous', cursive;
    color: #ff0000;
    margin: 0 50px;
    float: left;
}

.header__title__firstpart {
    color: #0000ff;
}

.header__nav__list{
    margin: 0;
    text-align: center;
}

.header__nav__list__item{
    display: inline-block;
    list-style: none;
    font-family: 'Righteous', cursive;
    font-size: 36px;
    margin: 0 20px;
}

.header__nav__link{
    text-decoration: none;
    color: #000000;
    display: block;
    position: relative;
    transition-duration: 400ms;
}

.header__nav__link:hover{
    color: #0000ff;
}

.header__nav__link::after {
	content: '';
	position: absolute;
	left: 0;
    bottom: 36%;
	width: 100%;
    height: 0.1em;
	background-color: #0000ff;
	opacity: 0;
	transition: opacity 400ms, transform 400ms;
}

.header__nav__link::after {
	opacity: 1;
	transform: scale(0);
	transform-origin: center;
}

.header__nav__link:hover::after,
.header__nav__link:focus::after{
	transform: scale(1);
}

/*__________________MAIN __________________*/

.main__carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.main__carousel__inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.main__carousel__input:checked + .main__carousel__item {
    position: static;
    opacity: 100;
}

.main__carousel__item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.main__carousel__item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}