html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
}

/*__________________HEADRER__________________*/

.header {
    height: 150px;
    line-height: 150px;
    padding: 5px 10px;
    position: fixed;
	top: 0;
	width: 100%;
    background-color: #ffffff;
    z-index: 11;
}

.header__logo {
    height: 100%; 
    float: left;
}

.header__title {
    font-size: 60px;
    font-family: 'Righteous', cursive;
    color: #ff0000;
    margin: 0 50px;
    float: left;
}

.header__title__firstpart {
    color: #0000ff;
}

.header__nav__list{
    margin: 0;
    text-align: center;
}

.header__nav__list__item {
    display: inline-block;
    list-style: none;
    font-family: 'Righteous', cursive;
    font-size: 28px;
    margin: 0 20px;
}

.header__nav__link {
    text-decoration: none;
    color: #000000;
    display: block;
    position: relative;
    transition-duration: 400ms;
}

.header__nav__link:hover {
    color: #0000ff;
}

.header__nav__link::after {
	content: '';
	position: absolute;
	left: 0;
    bottom: 36%;
	width: 100%;
    height: 0.1em;
	background-color: #0000ff;
	opacity: 0;
	transition: opacity 400ms, transform 400ms;
}

.header__nav__link::after {
	opacity: 1;
	transform: scale(0);
	transform-origin: center;
}

.header__nav__link:hover::after,
.header__nav__link:focus::after{
	transform: scale(1);
}

/*Scroll indicator */

@supports (height: 100vh) {	
	body {	
		background: linear-gradient(to right top, #0089f2 50%, #DDD 50%);
		background-size: 100% calc(100% - 100vh + 164px);
		background-repeat: no-repeat;
	}

	body:before {
		content:'';
		position: fixed;
		top: 164px;
		bottom: 0;
		width: 100%;
		z-index: -1;
		background: white;
	}
}


/*__________________MAIN__________________*/

.main__carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin: 200px auto 0; 
    width: 75%;
}

.main__carousel__inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.main__carousel__image {
    opacity: 0.9;
}

.main__carousel__input:checked + .main__carousel__item {
    position: static;
    opacity: 100;
}

.main__carousel__item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.main__carousel__item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

/*Section info */

.section__info {
    margin-bottom: 100px;
}

.section__info__aboutus {
    margin: 10px;
}


.info__aboutus__title {
    font-family: 'Righteous', cursive;
    font-size: 40px;
}

.info__aboutus__text {
    font-family: 'Righteous', cursive;
    font-size: 24px;
}

.info__aboutus__image {
    width: 27%;
    float: right;
}

.info__aboutus__link {
    text-decoration: none;
    color: #0000ff;
    transition-duration: .4s;
}

.info__aboutus__link:hover {
    color: #ff0000;
}

/*Section form*/

.section__form {
    margin-top: 10%;
}

.form {
    float: left;
    width: 340px;
    height: 440px;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: 50px 5% 100px 5%;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
    position: relative;

}
.form__title {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #78788c;
    border-bottom: 3px solid #78788c;
}

.form__input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Righteous', cursive;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
}

.form__input:focus {
    border-bottom: 2px solid #78788c;
}

.form__text:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a;
}
.form__button {
    float: right;
    margin: 8px 0 0;
    font-family: 'Righteous', cursive;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s;
    margin: 3px;
    width: 75px;
    height: 75px;
}

.form__input:invalid {
    border: 2px dashed red;
  }

.form__button:hover {
    background: #78788c;
    color: #fff;
    border-radius: 50%;
}

/*Map*/

.map {
    position: relative;
    width: 60%;
    padding-bottom: 600px;
    margin-top: 50px;
    height: 0;
    overflow: hidden;
    border: 4px solid skyblue;
    border-image: linear-gradient(to right top, blue, skyblue, blue);
    border-image-slice: 1;
}

.map__iframe {
    width: 100%;
    height: 600px;   
}

/*__________________FOOTER__________________*/

.footer {
    height: 100px;
    background: linear-gradient(to right, #0099f7, #f11712);
    line-height: 100px;
}

.footer__text {
    color: #ffffff;
    font-family: 'Righteous', cursive;
    font-size: 24px;
    margin-left: 15px;
}

.footer__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    float: right;
    margin-right: 15px;
}